<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

	<import resource="applicationContext-evsJms.xml" />

	<bean id="uspsPostageTransactionMessageConverter" class="com.fedex.smartpost.mts.converter.UspsPostageTransactionMessageConverterImpl" />

	<bean id="publisherThreadFactory" class="com.fedex.smartpost.mts.factory.PublisherThreadFactoryImpl" />

	<!-- Connection Factory -->
	<bean id="connectionFactory" class="com.fedex.smartpost.common.jms.RetryingConnectionFactoryDecorator">
		<constructor-arg ref="cachingConnectionFactory" />
		<property name="connectionRetryTimeout" value="5000" />
		<property name="maxConnectionAttempts" value="5" />
	</bean>

	<bean id="cachingConnectionFactory" class="org.springframework.jms.connection.CachingConnectionFactory">
		<property name="targetConnectionFactory" ref="publisherForeignCF" />
		<property name="sessionCacheSize" value="70" />
	</bean>

	<bean id="publisherForeignCF" class="org.springframework.jms.connection.UserCredentialsConnectionFactoryAdapter">
		<property name="targetConnectionFactory" ref="jndiLdapLookupConnectionFactory" />
		<property name="username" value="fxsp_procPostage" />
		<property name="password" value="fxsp_procPostage" />
	</bean>

	<jee:jndi-lookup id="jndiLdapLookupConnectionFactory" jndi-name="fxClientUID=VS.FXSPPOSTAL.EVS.POSTAGETRANS.QCF">
		<jee:environment>
			java.naming.provider.url=ldap://appldap.prod.fedex.com:389/ou=messaging,dc=prod,dc=fedex,dc=com
			java.naming.factory.initial=com.fedex.mi.decorator.jms.FedexTibcoInitialContext
		</jee:environment>
	</jee:jndi-lookup>

	<bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="defaultDestinationName" value="FXSPPOSTAL.EVS.POSTAGETRANS.RATING_5328" />
		<property name="messageConverter" >
			<null />
		</property>
		<property name="pubSubDomain" value="false" />
		<property name="sessionTransacted" value="true" />
		<property name="destinationResolver" ref="jndiDestinationResolver" />
	</bean>

	<bean id="jndiDestinationResolver" class="org.springframework.jms.support.destination.JndiDestinationResolver">
		<property name="fallbackToDynamicDestination" value="true" />
	</bean>
</beans>